
body{
    background: #e0e0e0;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
}

.item-container{
    width: 220px;
    min-height: 50px;
    margin-top: 80px;
    border-radius: 20px;
    position: sticky;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;
}
.item-img img{
    width:100px;
    height:80px;
}
.info-btn{
    background-color: #6c5ce7;
    width: 50%;
    color: #ffff;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.info-btn:hover{
    background-color: #fd79a8;
}

@media screen and (max-width: 600px){
    .product-container{
        grid-template-columns:  1fr;
    }
    /* .item-container{

        grid-template-columns: 1fr;
    } */
}